.button .btnClass{
    background-color: rgb(152, 3, 152);
    color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 5px;
    box-shadow: 0px 5px 7px rgba(0,0,0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}
.button .btnClass:hover{
    background-color: rgb(129, 11, 129);

}