.sidebar-section{
    width:30%;
    margin: 10px;
    border: rgb(8,93,86) 3px solid;
}
.grid-container{
    display: grid;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    

}
.grid-item{
  padding: 10px;
  font-size: 30px;
  text-align: center;
}