.sidebar-section{
    width:30%;
    margin: 10px;
    border: rgb(8,93,86) 3px solid;
}
.btnClass{
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    margin: 5px;
}